*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family:serif;
  outline:none;
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.calculator{
  background-color:#ecf0f3;
  padding:15px;
  border-radius:30px;
  box-shadow: inset 5px 5px 12px #ffff, 5px 5px 12px rgba(0,0,0,.16);
  display:grid;
  grid-template-columns:repeat(4,68px);
}

input{
  grid-column: span 4;
  height:70px;
  width:260px;
  background-color:#ecf0f3;
  box-shadow: -5px -5px 12px #ffffff inset 5px 5px 12px rgba(0,0,0,.16);
  border:none;
  color:rgb(70,70,70);
  font-size:50px;
  text-align:end;
  margin:auto;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
}
button{
  width:60px;
  height:60px;
  box-shadow: -5px -5px 12px #ffff,5px 5px 12px rgba(0,0,0,.16);
  border:none;
  border-radius:50%;
  margin:8px;
  font-size:16px;
}

.equal{
  border-radius:30px;
  width:120px;
}

@media only screen and (max-width:400px){
  button{
    width:20px;
    height:20px;
    margin:10px;
    border-radius:50%;
    margin-left:10px;
    font-size:15px;
    padding:25px 25px 25px 25px;
    text-align:center;
  }
  button div{
    position:relative;
    text-align:center;
    top:-7px;
    left:-5px;
  }

  .equal{
    border-radius:20px;
    width:120px;
  }
  #equal{
    position:relative;
    text-align:center;
    top:-5px;
    left:-3px;
  }

  input{
    grid-column: span 4;
    height:60px;
    width:260px;
    font-size:40px;
    margin-bottom: 10px;
  }

}
